.Home {
    display: flex;
    flex-direction: column;
    width: 1250px;
}
.containerHome {
    display: flex;
    flex-direction: row;
    width: 1215px;
}
.rightcontainer {
    background-color: #A8E6E6;
    max-width: 1215px;
}
.rightcontainer1 {
    background-color: #A8E6E6;
    max-width: 1215px;
}
